<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>obps</display-name>
	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/spring-security.xml
            /WEB-INF/application-context.xml
        </param-value>
	</context-param>

	<!--SPRING SECURITY CONFIGURATION STARTS -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--SPRING SECURITY CONFIGURATION END -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>obps.util.common.Captcha</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/jcaptcha.jpg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CaptchaLogin</servlet-name>
		<servlet-class>obps.util.common.CaptchaLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaLogin</servlet-name>
		<url-pattern>/jcaptchalogin.jpg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Report</servlet-name>
		<servlet-class>obps.util.common.Report</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Report</servlet-name>
		<url-pattern>/Report</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<!--<session-timeout>10</session-timeout> -->
		<session-timeout>-1</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Deny all HTTP methods except GET and POST</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>TRACE</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>
	<!--ERROR PAGES STARTS -->
	<!-- <error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page> -->
	<!--ERROR PAGES ENDS -->

</web-app>